# Uncomment this line and set it to the path of the client files to set a
# custom data path. Otherwise ServUO will look for the client in the default
# Windows installation directories. Note that this is *required* when running
# on non-Windows systems.
#CustomPath=C:\Program Files (x86)\Electronic Arts\Ultima Online Classic
#CustomPath=D:\Ultima.Online.Classic.[2024-04-10][Publish.117][7.0.102.3]-Grimoric\Ultima Online Classic\
CustomPath=D:\Ultima.Online.Classic.ServUO[Publish.117][7.0.102.3]\Ultima Online Classic\

